.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  background: black;
  color: white;
}

.copyright {
  font-size: 0.75em;
  font-family: var(--font-sans);
  text-align: center;
}
