.header {
  display: flex;
  align-items: center;
  padding-left: 2em;
  font-family: var(--font-sans);
  height: 5em;
  background: black;
  font-variant-caps: small-caps;
  font-weight: lighter;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover, .header a:focus {
  text-decoration: underline;
}

.header h1 {
  font-size: 2em;;
}
