body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  width: 1024px;
  flex: 1;
  margin: 0 auto;
  padding: 1em;
}

@media screen and (max-width: 1023px) {
  .content {
    width: 95vw;
  }
}
