@charset "utf-8";

@import "modern-normalize";
@import "highlight.js/styles/base16/ia-dark.css";
@import "katex/dist/katex.min.css";

:root {
  --font-serif: "Times", "Times New Roman", serif;
  --font-sans:  "Helvetica Neue", "Helvetica", "OpenSans", "Arial", sans-serif;
  --font-mono:  "Courier New";

  --color-bg: #f2f2f2;
  --color-fg: #141414;

  --color-black:      black;
  --color-darkgray:   #222;
  --color-gray:       #555;
  --color-lightgray:  #ccc;
  --color-cyan:       hsl(215, 80%, 40%);
}

body {
  font-family: var(--font-serif);
  background: var(--color-bg);
  color: var(--color-fg);
  font-size: 125%;
  scrollbar-gutter: stable both-edges;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: var(--font-sans);
}

.content {
  width: 1024px;
  flex: 1;
  margin: 0 auto;
  padding: 1em;
}

@media screen and (max-width: 1560px) {
  .content {
    margin-left: 1em;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    margin: 0 auto;
    width: 90vw;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 8em;
  padding-bottom: 2em;
  padding-top: 2em;
}

.copyright {
  font-size: 0.75em;
  font-family: var(--font-sans);
  text-align: center;
}

.social img, .social svg {
  height: 2em;
  width: 2em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.social img:hover, .social svg:hover {
  filter: invert(100%) brightness(20%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-sans);
  height: 6em;
  font-size: 1.6em;
  font-variant-caps: petite-caps;
  font-weight: lighter;
}

.header a {
  color: var(--color-fg);
  text-decoration: none;
}

.header a:hover, .header a:focus {
  text-decoration: underline;
}

.header h1 {
  font-size: 2em;;
  font-weight: initial;
}

.post-body h1 {
  font-size: 1.75em;
}

.post-body h2 {
  font-size: 1.50em;
}

.post-body h3 {
  font-size: 1.25em;
}

.post-header h1 {
  font-family: var(--font-sans);
  font-weight: bolder;
  font-size: 1.75em;
}

.post-header h2 {
  font-family: var(--font-sans);
  font-weight: normal;
  font-size: 1.30em;
}

.post h1, .post h2, .post h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.post-header h1, .post-header h2 {
  margin: 0;
}

.post sup {
  font-size: 0.6em;
  position: relative;
  top: -0.5em;
}

.post aside {
  margin-right: -260px;
  width: 200px;
  float: right;
  clear: both;
  font-size: 0.75em;
  text-align: justify;
  margin-bottom: 2em;
}

.post p {
  /* width: 75%; */
  text-align: justify;
  line-height: 1.1;
  margin: 1em 0;
}

.post a {
  color: var(--color-cyan);
  text-decoration: none;
}

.post a:hover {
  text-decoration: underline;
}

.small-caps {
  font-size: 0.75em;
  font-family: var(--font-sans);
  font-variant-caps: petite-caps;
}


.post-tags, .post-date {
  font-size: 0.90em;
  font-family: var(--font-sans);
  margin: 0.25em 0;
}

.post-date {
  color: var(--color-gray);
}

.post-tags {
  padding: 0;
  display: flex;
  gap: 0.25em;
}

.post-tags li {
  display: inline-block;
}

.post-tags a {
  text-decoration: none;
  text-transform: capitalize;
  background: var(--color-lightgray);
  color: var(--color-darkgray);
  padding: 0.25em;
  border-radius: 5px;
}

.post-tags a:hover {
  text-decoration: none;
  filter: brightness(0.9);
}

@media screen and (max-width: 1350px) {
  .post-body {
    display: flex;
    flex-direction: column;
  }

  p {
    width: 100%;
  }

  h1, h2, h3 {
    max-width: 100%;
  }

  .post aside {
    order: 1;
    width: 100%;
    font-size: 0.8em;
  }
}

code {
  font-family: var(--font-mono);
  font-size: 0.9em;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.post {
  margin-bottom: 4em;
}

.post-body ul, .post-body ol {
  margin: 1em 0;
  padding-left: 1.5em;
}

.post-body ul {
  list-style-type: disc;
}

.post-body ol {
  list-style-type: decimal;
}

video {
  width: 100%;
}
