@import "../node_modules/@fontsource/martian-mono/latin-400.css";
@import "../node_modules/@fontsource/inter/latin-400.css";
@import "../node_modules/@fontsource/inter/latin-400-italic.css";
@import "../node_modules/@fontsource/inter/latin-700.css";
@import "../node_modules/@fontsource/inter/latin-700-italic.css";
@import "../node_modules/@fontsource/source-serif-4/latin-400.css";
@import "../node_modules/@fontsource/source-serif-4/latin-400-italic.css";
@import "../node_modules/@fontsource/source-serif-4/latin-700.css";
@import "../node_modules/@fontsource/source-serif-4/latin-700-italic.css";

* {
  box-sizing: border-box;
}

:root {
  --font-serif: "Source Serif 4", "Times", "Times New Roman", serif;
  --font-sans:  "Inter", "Helvetica Neue", "Helvetica", "OpenSans", "Arial", sans-serif;
  --font-mono:  "Martian Mono", "Courier New", "Courier", monospace;

  --color-bg: #f2f2f2;
  --color-fg: #141414;

  --color-black:      black;
  --color-darkgray:   #222;
  --color-gray:       #555;
  --color-lightgray:  #ccc;
  --color-cyan:       hsl(215, 80%, 40%);
}

html {
  font-family: var(--font-serif);
  background: var(--color-bg);
  color: var(--color-fg);
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

ul, ol {
  list-style: none;
  padding: 0;
}

.prose ul {
  list-style: disc;
}

.prose ol {
  list-style: decimal;
}

.prose ul, .prose ol {
  padding-left: 2rem;
}

.prose {
  margin-bottom: 4rem;
}

.prose aside {
  color: var(--color-gray);
}

article {
  margin-bottom: 4rem;
}

@media (max-width: 1279px) {
  main {
    padding: 2rem;
  }

  .prose {
    display: flex;
    flex-direction: column;
  }

  .prose aside {
    order: 1;
    margin-top: 2rem;
  }
}

@media (min-width: 1280px) {
  article {
    margin-left: -100px;
    margin-right: 100px;
  }

  .prose aside {
    margin-right: -260px;
    width: 200px;
    float: right;
    clear: both;
    font-size: 0.75em;
    text-align: justify;
    margin-bottom: 2em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
}

main {
  flex: 1;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  padding: 2rem;
}

.prose {
  font-size: 1.2rem;
}

.prose h1, .prose h2, .prose h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.prose h1 {
  font-size: 1.75em;
}

.prose h2 {
  font-size: 1.50em;
}

.prose h3 {
  font-size: 1.25em;
}

.prose sup {
  font-size: 0.6em;
  position: relative;
  top: -0.5em;
}

.prose p {
  text-align: justify;
  line-height: 1.35;
  margin: 1.5rem 0;
}

.prose a {
  color: var(--color-cyan);
  text-decoration: none;
}

.prose a:hover {
  text-decoration: underline;
}

.prose video, .prose img {
  max-width: 100%;
}

.prose hr {
  border: none;
  border-top: 1px solid var(--color-lightgray);
  margin: 3rem 0;
}

.small-caps {
  font-size: 0.75em;
  font-family: var(--font-sans);
  font-variant-caps: petite-caps;
}

.header {
  text-align: center;
}

figure {
  margin: 0;
}

code {
  font-family: var(--font-mono);
  font-size: 0.7em;
  overflow-x: auto;
  padding: 0.1em 0.2em;
}

pre code {
  padding: 0.25em 0.5em;
}

.header {
  margin: 4rem auto;
}

.header h1 {
  font-weight: lighter;
  font-variant: small-caps;
}

.header a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: 3rem;
  border: 0.3rem solid black;
  padding: 0.5rem;
}

.header a:hover {
  background: black;
  color: white;
}

footer {
  font-family: var(--font-sans);
  background: #111;
  color: white;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #222;
}

footer a {
  color: white;
  text-decoration: underline;
}

.social {
  pad: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.social svg {
  height: 2rem;
  color: white;
}

.social svg:hover {
  color: #ccc;
}

.article-header {
  font-family: var(--font-sans);
}

.article {
  margin: 0 auto;
  max-width: 80ch;
  margin-bottom: 3rem;
}

.article-header a {
  color: inherit;
  text-decoration: none;
}

.article-header a:hover, .article-header-title {
  text-decoration: underline;
}

.article-header-title {
  font-weight: bold;
  font-size: 150%;
  color: inherit;
  text-decoration: none;
}

.article-header-date {
  color: #444;
}

.article-header-description {
  font-style: italic;
}
