@import "../node_modules/@fontsource/martian-mono/latin-400.css";
@import "../node_modules/@fontsource/inter/latin-400.css";
@import "../node_modules/@fontsource/inter/latin-400-italic.css";
@import "../node_modules/@fontsource/inter/latin-700.css";
@import "../node_modules/@fontsource/inter/latin-700-italic.css";
@import "../node_modules/@fontsource/source-serif-4/latin-400.css";
@import "../node_modules/@fontsource/source-serif-4/latin-400-italic.css";
@import "../node_modules/@fontsource/source-serif-4/latin-700.css";
@import "../node_modules/@fontsource/source-serif-4/latin-700-italic.css";

html {
  font-family: "Source Serif 4", "Times", "Times New Roman", serif;
}

h1, h2, h3, h4, h5, h6, .small-caps, footer, .article-header {
  font-family: "Inter", "Helvetica Neue", "Helvetica", "OpenSans", "Arial", sans-serif;
}

code {
  font-family: "Martian Mono", "Courier New", "Courier", monospace;
}

.article-header-title {
  font-weight: bold;
}

.header h1 {
  font-weight: lighter;
}

.article-header-description {
  font-style: italic;
}
